@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer base {}

@layer components {
  .globalWidth {
    @apply max-w-[1160px] mx-auto;
  }

  .header {
    @apply py-4 sticky top-0 z-50;
    /* background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 100px 0px rgba(255, 255, 255, 0.10), 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);

    background: radial-gradient(145.11% 145.11% at 50% 100%, #FFF 0%, #C3CFE2 100%), radial-gradient(145.11% 145.11% at 50% 100%, #FFF 0%, #C3CFE2 100%); */

    background-color: #C3CFE2;
    background-blend-mode: hard-light, color, normal, normal;
  }

  .headerDark {
    background: linear-gradient(0deg, #201925 0%, #201925 100%), linear-gradient(0deg, rgba(32, 25, 37, 0.80) 0%, rgba(32, 25, 37, 0.80) 100%);
    background-blend-mode: color, normal, normal, normal, normal;
    filter: drop-shadow(0px 4px 100px rgba(255, 255, 255, 0.10));
  }

  .navLink {
    @apply text-base font-normal text-navText dark:text-white;
  }

  .primaryBtn {
    @apply py-2.5 px-6 rounded-[30px] text-white text-base font-bold;
    background: linear-gradient(219deg, #F709FC -3.67%, #7B30CB 38.64%, #0691F6 88.3%), linear-gradient(219deg, #7B30CB -3.67%, #4A06F6 88.3%), #398EA6;
    box-shadow: 0px 2px 17.3px 0px rgba(159, 75, 255, 0.54);
  }

  .hero {
    background-image: url('../../public/image/heroLightBg.png');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
  }

  .heroDark {
    background-image: url('../../public/image/heroDarkBg.png');
  }

  .heroTitle {
    @apply xl:text-[128px] md:text-[90px] sm:text-[60px] text-4xl text-center sm:text-left text-white font-bold leading-[100%];
  }

  .heroTitle span,
  .GlobalReachTitle {
    background: -webkit-linear-gradient(219deg, #f809fc00 -3.67%, #7B30CB 38.64%, #0691F6 88.3%), linear-gradient(219deg, #7B30CB -3.67%, #4A06F6 88.3%), #398EA6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .subtitle {
    @apply text-lg sm:text-[32px] text-navText dark:text-white font-bold leading-[100%];
  }

  .description {
    @apply text-sm sm:text-lg text-navText dark:text-white font-normal leading-[140%];
  }

  .heroButtonLight {
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
  }

  .heroButtonDark {
    background: rgba(0, 0, 0, 0.10);
    box-shadow: 0px 4px 100px 0px rgba(255, 255, 255, 0.10), 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
  }

  .GlobalReach {
    background-image: url('../../public/image/GlobalReach.png');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
  }

  .GlobalReachDark {
    background-image: url('../../public/image/GlobalReachDark.png');
  }

  .GlobalReachSubtitle {
    @apply text-4xl text-navText dark:text-white font-bold;
  }

  .GlobalReachSubText {
    @apply text-xl sm:text-3xl text-navText dark:text-white font-medium;
  }

  .GlobalReachButton {
    @apply py-3.5 px-12 rounded-[30px] text-white text-2xl font-bold;
    background: linear-gradient(219deg, #7B30CB -3.67%, #4A06F6 88.3%), #398EA6;
    box-shadow: 0px 2px 17.3px 0px rgba(159, 75, 255, 0.54);
  }

  .buildSomethingCard {
    @apply flex flex-col gap-4 rounded-3xl p-6 justify-between;
    background: radial-gradient(306.1% 255.53% at 9% 7.73%, #FFF 0%, #C3CFE2 100%), linear-gradient(90deg, #F5F7FA 0%, #C3CFE2 100%);
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
  }

  .buildSomethingCardGradient {
    @apply flex flex-col gap-4 rounded-3xl p-6 justify-between;
    background: linear-gradient(219deg, #F709FC -3.67%, #7B30CB 38.64%, #0691F6 88.3%), linear-gradient(219deg, #7B30CB -3.67%, #4A06F6 88.3%), #838383;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
  }

  .number {
    @apply text-[55px] text-white dark:text-navText font-bold;
  }

  .contactUs {
    @apply rounded-[48];
    background: radial-gradient(285.67% 236.87% at 15.83% 25.13%, #FFF 0%, #C3CFE2 100%), linear-gradient(219deg, #F709FC -3.67%, #7B30CB 38.64%, #0691F6 88.3%), linear-gradient(219deg, #7B30CB -3.67%, #4A06F6 88.3%);
  }

  .contactUsSubtitle {
    @apply text-navText dark:text-white text-2xl font-bold;
  }

  .inputLabel {
    @apply text-navText dark:text-white text-sm font-medium;
  }

  .input {
    @apply p-2 bg-transparent border-b border-[#DBE2EE] outline-none focus:border-[#7B30CB] text-navText dark:text-white text-sm font-medium placeholder:text-[#DBE2EE] placeholder:text-sm placeholder:font-medium;
  }

  .newsletterCard {
    @apply rounded-[24px] p-6;
    background: radial-gradient(306.1% 255.53% at 9% 7.73%, #FFF 0%, #C3CFE2 100%), #D9D9D9;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
  }

  .originalPsp {
    background-image: url('../../public/image/originalPsp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
  }

  .originalPspDark {
    background-image: url('../../public/image/originalPspDark.png');
  }

  .footer {
    padding: 48px 0px;
    border-radius: 48px 48px 0px 0px;
    background: radial-gradient(145.11% 145.11% at 50% 100%, #FFF 0%, #C3CFE2 100%), linear-gradient(90deg, #F5F7FA 0%, #C3CFE2 100%);
  }
}